/*-- FONTS --*/
/*'Dancing Script', cursive;*/@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
/*'Teko', sans-serif;*/@import url('https://fonts.googleapis.com/css?family=Teko');
/*'Josefin Sans', sans-serif, 'century gothic', cursive, Arial;*/@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

/*-- GLOBAL --*/
html {
	scroll-behavior: smooth;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px
}
a * {
	text-decoration: none;
}
body{
	font-family:'century gothic', calibri, arial;
	background: #100e17;
	color: #fefefe;
	/*background: url('file:///E:/Pictures/NSFW/hos/WH%20Nudes/wallhaven-720527.jpg');*/
}
.clearfix {
	clear:both
}

/* --UP----------------------------------*/

.goup {
	background: -webkit-linear-gradient(349deg, rgba(254,121,4,1) 0%,
			  	 rgba(254,121,4,1) 9%,
			  	  rgba(219,30,95,1) 32%,
			  	   rgba(242,90,36,1) 48%,
			  	    rgba(223,41,84,1) 57%,
			  	     rgba(254,121,4,1) 58%,
			  	      rgba(232,64,62,1) 60%);
	color: #fefefe;
	padding: 3 10;
	border-radius: 10px;
	cursor: pointer;
	position: fixed;
	z-index: 500;
	bottom: 50px;
	right: -100px;
	transition: 0.5s;
}
.goup .fa {
	font-size: 30px
}
.goup:hover {
	color: #000;
	background: -webkit-linear-gradient(349deg, rgba(207,33,68,1) 15%, rgba(254,254,254,1) 66%);
}

/*---NAV--------------------------------------------*/

nav {
	display: block;
	width: 100%;
	background: #100e17;
	border-bottom: 1px solid #201c29;
	text-align: center;
}
nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0 
}
nav ul a {
	text-decoration: none;
	color: #fefefe
}
nav ul a li {
	display: inline-block;
	padding: 20;
	margin-left: -5;
	text-align: center;
	font-weight: bolder;
	border-right: 1px solid #201c29
}
nav ul a li[name="first"]{
	border-left: 1px solid #201c29;
}
nav ul a li .fa, i {
	font-size: 30px;
	margin-bottom: 5px
}
nav ul a li:hover {
	background: #222;
}
nav ul a li:hover .fa, li:hover i {
	background: -webkit-linear-gradient(349deg, rgba(254,121,4,1) 0%,
  	 rgba(254,121,4,1) 9%,
  	  rgba(219,30,95,1) 32%,
  	   rgba(242,90,36,1) 48%,
  	    rgba(223,41,84,1) 57%,
  	     rgba(254,121,4,1) 58%,
  	      rgba(232,64,62,1) 60%);
 	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

/*----MOB-NAV----*/

.mobNav-button {
	display: none;
	width: 100%;
	padding-right: 50px;
	background: #100e17;
	border-bottom: 1px solid #201c29;
	direction: rtl;
}
.mobNav-button .fa-align-justify, .fa-close {
	display: inline-block;
	padding: 10;
	font-size: 30px;
	cursor: pointer;
}
.mobNav-button .fa-close {
	display: none
}

.mobNav-button .fa-close:hover {
	background: -webkit-linear-gradient(349deg, rgba(201,21,147,1) 0%, rgba(246,4,4,1) 27%, rgba(246,4,4,1) 52%, rgba(179,30,219,1) 65%, rgba(246,4,4,1) 83%);
 	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.mobNav-button .fa-align-justify:hover {
	background: -webkit-linear-gradient(349deg, rgba(75,219,30,1) 42%, rgba(109,121,132,1) 58%, rgba(100,149,104,1) 61%, rgba(96,160,92,1) 74%, rgba(150,4,254,1) 88%, rgba(88,181,70,1) 89%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.mob-nav {
	text-align: center;
	list-style-type: none;
	display: none
}
.mob-nav ul a {
	text-decoration: none;
	color: #fefefe
}
.mob-nav ul li {
	padding: 15px;
	margin-left: -5;
	font-weight: bolder;
	border-bottom: 1px solid #201c29
}
.mob-nav ul li:hover {
	background: #222
}
.mob-nav ul li .fa, i {
	font-size: 30px
}


@media(max-width: 420px) {
	nav {
		display: none
	}
	.mobNav-button {
		display: block
	}
}
@media(min-width: 420px) {
	.mob-nav {
		display: none!important
	}
}
/*---Header--------------------------------------------*/

header {
	display: block;
	width: 100%;
	height: 500px;
	position: relative;
	z-index: 3;
	overflow: hidden;
}
header video {
	width: 100%;
	opacity: 0.3;
	position: absolute;
	top: 0; left: 0;
	z-index: 2;
}
header .header-content {
	position: absolute;
	top: 0; left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	padding: 80px 200px 20px 80px;
	box-shadow: 10px 10px 80px 50px #100e17 inset, -10px -10px 80px 50px #100e17 inset
}
header .header-content h1 {
	margin-bottom: 30px;
	font-size: 50px;
	font-weight: bolder;
	font-family: 'Josefin Sans', sans-serif, 'century gothic', cursive, Arial;
  	background: -webkit-linear-gradient(349deg, rgba(254,121,4,1) 0%,
  	 rgba(254,121,4,1) 9%,
  	  rgba(219,30,95,1) 32%,
  	   rgba(242,90,36,1) 48%,
  	    rgba(223,41,84,1) 57%,
  	     rgba(254,121,4,1) 58%,
  	      rgba(232,64,62,1) 60%);
 	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
header .header-content .brand {
	width: 70px;
	height: 70px;
	border-radius: 100%;
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin-bottom: 30px
}
header .header-content .brand:before {
	content: '';
	position: absolute;
	top: -7px; left: -7;
	width: calc(100% + 3px);
	height: calc(100% + 3px);
	border: 5px solid #e8453b;
	background: none;
	border-radius: 100%;
}
header .header-content .brand span {
	position: absolute;
	left: -15; bottom: -40;
	width: 100px;
	text-align: center;
	border-radius: 10px;
	text-shadow: 2px 2px 2px #000;
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
	display: none
}
header .header-content .brand:hover span {
	display: block
}
header .header-content .brand span:before {
	content: '';
	position: absolute;
	z-index: -1;
	top: -5; right: 40px;
	width: 20px; height: 20px;
	background: inherit;
	transform: rotate(45deg);
}
header .header-content .brand img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
header .header-content .brand:hover img {
	transform: rotateY(360deg);
	transition: 2s;
}
header .header-content .brand:hover:before {
	transform: rotateX(360deg);
	transition: 2s;
}
header .header-content .brand h3 {
	position: absolute;
	top: 25; left: 100px;
	width: 220px;
}
header .header-content p {
	font-size: 18px;
	line-height: 27px;
	margin-bottom: 20
}


@media(max-width: 888px) {
	header {
		height: 450px
	}
	header video {
		width: 150%
	}
	header .header-content {
		padding: 30px 30px 20px 80px;
	}
	
}
@media(max-width: 670px) {
	header .header-content {
		padding: 20;
	}
}
@media(max-width: 600px) {
	header {
		height: 500px
	}
	header video {
		width: 200%
	}
}
@media(max-width: 595px) {
	header .header-content h1 {
		font-size: 30px
	}
}
@media(max-width: 450px) {
	header video {
		width: 250%
	}
}
@media(max-width: 390px) {
	header {
		height: 400px
	}
	header .header-content h1 {
		margin-bottom: 10;
		font-size: 20px
	}
	header .header-content .brand {
		margin-bottom: 10
	}
	header .header-content p {
		font-size: medium;
		line-height: normal;
	}
}
@media(max-width: 350px) {
	header {
		height: 360px
	}
	header .header-content p {
		font-size: small;
	}
	header .header-content .brand {
		width: 50px;
		height: 50px
	}
	header .header-content .brand h3 {
		font-size: medium;
		top: 15; left: 60px;
	}
}
@media(max-width: 265px) {
	header {
		height: 400px
	}
	header video {
		width: 350%
	}
}
	

/*
background: linear-gradient(349deg, rgba(254,121,4,1) 0%,
	 rgba(254,121,4,1) 9%,
	  rgba(219,30,95,1) 32%,
	   rgba(242,90,36,1) 48%,
	    rgba(223,41,84,1) 57%,
	     rgba(254,121,4,1) 58%,
	      rgba(232,64,62,1) 60%);
*/

/*---buttons----*/

header .header-content button {
	cursor: pointer;
	border: none;
	padding: 10px;
	margin-right: 5px;
	color: #fefefe;
	box-shadow: 5px 5px 10px 1px #000
}
header .header-content a {
	text-decoration: none;
	background: none;
}


/* --- first buttons -- */
@-webkit-keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  background: #3333ff;
  background: radial-gradient(ellipse at top, #e66465, transparent),
            radial-gradient(ellipse at bottom, #4d9f0c, transparent);
}
.hvr-wobble-bottom:hover, .hvr-wobble-bottom:focus, .hvr-wobble-bottom:active {
  -webkit-animation-name: hvr-wobble-bottom;
  animation-name: hvr-wobble-bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.hvr-wobble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-wobble-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  background: radial-gradient(ellipse at top, #2098D1, transparent),
            radial-gradient(ellipse at bottom, #2098D1, transparent);
}
.hvr-wobble-bottom:hover, .hvr-wobble-bottom:focus, .hvr-wobble-bottom:active {
  color: white;
}
.hvr-wobble-bottom:hover:before, .hvr-wobble-bottom:focus:before, .hvr-wobble-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/* --- second buttons -- */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #339933;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: radial-gradient(ellipse at top, #339933, transparent),
            radial-gradient(ellipse at bottom, #339933, transparent);
}
.hvr-wobble-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  background: radial-gradient(ellipse at top, #2098D1, transparent),
            radial-gradient(ellipse at bottom, #2098D1, transparent);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  color: white;
}
.hvr-wobble-vertical:hover:before, .hvr-wobble-vertical:focus:before, .hvr-wobble-vertical:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*---MAIN--------------------------------------------*/
main {overflow: hidden;}
main h1 {
	margin-bottom: 10px;
	display: inline-block;
	padding: 10px;
	background: -webkit-linear-gradient(349deg, rgba(30,29,31,1) 15%, rgba(16,14,23,1) 31%, rgba(34,34,34,1) 63%, rgba(16,14,23,1) 78%, rgba(30,29,31,1) 89%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	font-size: 50px;
  	font-weight: bolder;
  	/*box-shadow: 5px 5px 20px 5px #100e17 inset, -5px -5px 20px 5px #100e17 inset;*/
}
/*---about------------*/

main .about {
	margin-bottom: 20px
}
main .about h1 {
  	font-size: 40;
  	padding-left: 75
}
main .about p {
	font-size: x-large;
	padding: 100px;
	background: #222;
	box-shadow: 10px 10px 80px 50px #100e17 inset, -10px -10px 80px 50px #100e17 inset;
	border-radius: 20px;
	font-style: italic;
	background-image: url('file:///E:/M-WP/OnlineCV/source/images/Chat-PNG-Clipart.png');
	background-repeat: no-repeat;
	background-size: 400px 300px;
	background-position: 80% 50%;
}

@media (max-width: 700px){
	main .about p {
		padding: 50px;
	}
}
@media (max-width: 460px){
	main .about p {
		font-size: medium;
	}
}
@media (max-width: 350px){
	main .about p {
		padding: 20px;
	}
}

/*---education&work------------*/

main .education-work {
	padding: 50px;
	background: linear-gradient(349deg, rgba(25,25,17,1) 35%, rgba(16,14,23,1) 91%);
	box-shadow: 10px 10px 80px 50px #100e17 inset, -10px -10px 80px 50px #100e17 inset;
	margin-bottom: 50px
}

main .education {
	margin-bottom: 50px
}
main .education ul {
	font-family: 'Josefin Sans', sans-serif, 'century gothic', cursive, Arial;
	padding-left: 30;
	margin-left: 15;
	border-left: solid 5px #909;
	list-style-type: circle;
	-webkit-box-shadow: -12px 1px 9px -12px rgba(219,41,219,1);
	-moz-box-shadow: -12px 1px 9px -12px rgba(219,41,219,1);
	box-shadow: -12px 1px 9px -12px rgba(219,41,219,1);
	transition: 0.5s;
}
main .education ul li {
	padding: 10 0 10;
	font-size: 20;
	text-shadow: 5px 5px 5px #3e428c
}
main .work ul {
	font-family: 'Josefin Sans', sans-serif, 'century gothic', cursive, Arial;
	padding-left: 30;
	margin-left: 15;
	border-left: solid 5px #f06;
	list-style-type: square;
	-webkit-box-shadow: -12px 1px 9px -12px #f06);
	-moz-box-shadow: -12px 1px 9px -12px #f06;
	box-shadow: -12px 1px 9px -12px #f06;
}
main .work ul li {
	padding: 10 0 10;
	font-size: 20;
	text-shadow: 5px 5px 5px #3e428c
}

@media(max-width: 515px){

	main .education-work {
		background-size: 100% 100%;
		padding: 0 0 30
	}
	main .education-work h1 {
		font-size: 20px
	}
	main .education-work ul li {
		font-size: medium;
		padding: 5 0 5
	}
	main .education {
	    padding: 10px;
	}
	main .work {
	    padding: 10px;
	}
}

/*----skills --------------------------*/

.skills {
	margin: 100 0 
}
.skills h1 {margin-left: 50px}


/*----Languages --------------------------*/

main .languages {
	padding: 0px 0px 0px 50px;
	margin-bottom: 100
}
main .languages p {
	padding-left: 10px;
	margin-bottom: 10px;
	letter-spacing: 10px;
}
main .languages p object {
	border-bottom: 1px dotted #222;
	position: relative;
}
main .languages p object::before {
	content: '';
	position: absolute;
	width: 20px ; height: 20px;
	top: -32px;
    left: 59px;
    transform: rotate(50deg);
	z-index: 20;
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
	display: none;
}
main .languages p object::after {
	content: 'My mother language';
	position: absolute;
	z-index: 20;
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
	width: 175px;
	padding: 5px;
	top: -50; left: 50;
	letter-spacing: normal;
	text-align: center;
	border-radius: 10px;
	display: none;
}
main .languages p object:hover:before {
	display: block
} 
main .languages p object:hover:after,:before {
	display: block
} 
main .languages p span {
	margin: 5px 0 20px -5;
	display: block;
	width: 80%;
	height: 20px;
	border-radius: 10px;
	border: 1px solid #222;
	position: relative;
}
main .languages p span::after {
	content: '100%';
	position: absolute;
	width: 100%; height: 100%;
	background: linear-gradient(349deg, rgba(0,14,255,1) 51%, rgba(0,181,255,1) 69%);
	left: 0; top: 0;
	direction: rtl;
	padding-right: 10;
	border-radius: 10px;
}
main .languages p span[name="english"]::after {
	content: '90%';
	background: linear-gradient(349deg, rgba(255,0,0,1) 51%, rgba(255,255,0,1) 88%);
	width: 90%
}
@media(max-width: 515px){
	main .languages {
		padding: 0px 0px 0px 10px;
	}
}

/*---- Contact --------------------------*/

main .contact {
	margin-bottom: 50
}

main .contact h1 {
	padding: 0px 0px 0px 50px;
	margin-bottom: 20px
}
main .contact .contact-content {
	text-align: center;
	overflow: hidden;
}
main .contact .contact-content a {
	text-decoration: none;
	color: #fefefe;
}
main .contact .contact-content .box {
	display: inline-block;
	background: #222;
	width: 250px;
	height: 250px;
	overflow: hidden;
	margin: 5px;
	padding: 50px 10px;
	border-radius: 10px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	background: linear-gradient(349deg, rgba(34,34,34,1) 53%, rgba(16,15,23,1) 77%);
    text-shadow: 3px 3px 3px #000;

    background: linear-gradient(349deg, rgba(87,47,117,1) 23%, rgba(34,34,34,1) 62%, rgba(16,14,23,1) 77%);
}
main .contact .contact-content .box:hover {
	text-shadow: none; transition: .5s;
	transform: translateY(-10px);
}
main .contact .contact-content .box i, .fa {
	font-size: 50; margin-bottom: 10
}
main .contact .contact-content .whats i {
	background: -webkit-linear-gradient(349deg, rgba(78,255,0,1) 9%, rgba(79,235,107,1) 64%, rgba(79,239,88,1) 93%, rgba(79,236,102,1) 95%);	
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
main .contact .contact-content .email i {
	background: -webkit-linear-gradient(349deg, rgba(52,168,83,1) 21%, rgba(66,133,244,1) 40%, rgba(251,188,5,1) 62%, rgba(234,67,53,1) 80%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
main .contact .contact-content .facebook i {
	background: -webkit-linear-gradient(349deg, rgba(66,103,178,1) 47%, rgba(46,73,128,1) 67%);	
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
main .contact .contact-content .twitter i {
	background: -webkit-linear-gradient(349deg, rgba(29,161,242,1) 58%, rgba(66,103,178,1) 77%); 	
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
main .contact .contact-content .box p {
	word-wrap: break-word;
	font-family: 'Josefin Sans', sans-serif, 'century gothic', cursive, Arial;
  	background: -webkit-linear-gradient(349deg, rgba(254,121,4,1) 0%,
  	 rgba(254,121,4,1) 9%,
  	  rgba(219,30,95,1) 32%,
  	   rgba(242,90,36,1) 48%,
  	    rgba(223,41,84,1) 57%,
  	     rgba(254,121,4,1) 58%,
  	      rgba(232,64,62,1) 60%);
 	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	font-weight: bolder;
}
main .contact .contact-content .box p span {
	display: block;
	margin: 10px 0
}

/*---- footer --------------------------*/

footer {
	background: ;
	color: #9f958a;
}
footer .main-footer {
	background: linear-gradient(349deg, rgba(105,105,105,1) 0%, rgba(78,78,78,1) 1%, rgba(38,38,38,1) 35%, rgba(42,42,42,1) 37%, rgba(33,33,33,1) 50%, rgba(39,39,39,1) 60%, rgba(37,37,37,1) 74%, rgba(55,55,55,1) 82%, rgba(34,34,34,1) 87%);
	padding: 20px 20px 20px 50px;
	display: flex;
	justify-content: center;
}
footer .main-footer a {
	text-decoration: none;
	color: #fefefe
}
footer .main-footer div {
	flex: auto;
	margin: 10px
}
footer .main-footer div h4 {
	border-bottom: solid 1px #fefefe;
	width: 80%;
	padding: 10 0 ;
	margin-bottom: 10
}
footer .main-footer div ul {
	list-style-type: none
}
footer .main-footer div ul li {
	color: #435b66;
	transition: 0.5s;
}
footer .main-footer div ul li:hover {color: #fefefe}
footer .main-footer .contact-info ul li[name="phone"]:hover {color: #435b66}

@media(max-width: 680px) {
	footer .main-footer {
		display: block
	}
	footer .main-footer div {
		display: block
	}
}

@media(max-width: 420px) {
	footer .main-footer {
		padding: 10;
	}
	footer .main-footer div h4 {
		width: 100%
	}
}

/* -- secound FOOTER */

footer .second-footer {
	background: radial-gradient(circle, rgba(25,26,24,1) 0%, rgba(3,6,0,1) 100%);
	padding: 20px 20px 20px 50px;
	color: #656565;
	padding: 20px 50px 20px 20px;
}
footer .second-footer a {
	text-decoration: none;
}
footer .second-footer .fa {
	float: right;
	margin-right: 10px;
	font-size: 20px;
	cursor:pointer;

	background: -webkit-linear-gradient(349deg, rgba(254,121,4,1) 0%,
  	 rgba(254,121,4,1) 9%,
  	  rgba(219,30,95,1) 32%,
  	   rgba(242,90,36,1) 48%,
  	    rgba(223,41,84,1) 57%,
  	     rgba(254,121,4,1) 58%,
  	      rgba(232,64,62,1) 60%);
 	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
footer .second-footer .fa:hover {
	transition: 0.3s;

	background: -webkit-linear-gradient(349deg, rgba(207,33,68,1) 15%, rgba(254,254,254,1) 66%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
@media(max-width: 605px) {
	footer .second-footer span {
		display: block;
		margin-bottom: 10px
	}
	footer .second-footer .fa {
		float: none;
	}
}
